
<div class="container-intro-3">
  <div class="row-intro">
    <h1 class="row-intro">Jam Sessions</h1>
    </div>
  </div>


<!-- SEARCH BARS FOR CITY & GENRE -->
<div class="container">
  <h3 class="grey-text">Search Jam Sessions by Category:</h3>
  </div>
  <div class= "container">
      <div class="form-inline">
        <div class="form-group">
          <%= form_tag(jam_sessions_path, method: "get") do %>
            <%= text_field_tag(:search_city, params[:search_city], placeholder: "Search by City:") %>
                <a class="waves-effect waves-light btn"><%= submit_tag("search", name: nil) %></a>
            <% end %>
          </div>
          <div class="form-group">
            <%= form_tag(jam_sessions_path, method: "get") do %>
              <%= text_field_tag(:search_genre, params[:search_genre], placeholder: "Search by Genre:") %>
                <a class="waves-effect waves-light btn"><%= submit_tag("search", name: nil) %></a>
            <% end %>
          </div>
          <div class="form-group">
            <%= form_tag(jam_sessions_path, method: "get") do %>
              <%= text_field_tag(:search_instrument, params[:search_instrument], placeholder: "Search by Instrument:") %>
                <a class="waves-effect waves-light btn"><%= submit_tag("search", name: nil) %></a>
          <% end %>
        </div>
    </div>
  </div>

<div class="divider-2"></div>
<!-- JAM SESH CARDS -->
<div class="row">
  <h3 class="text-left">See all Jam Sessions...</h3>
</div>

<div class="row" >
  <div class="container">
    <ul>
    <% @jamsessions.each do |js| %>
      <div class="row">
        <div class="col-sm-10 card-border">
          <div class="card card-padding">
            <div class="card-block">
              <h4 class="card-title"><%=link_to js.title, jam_session_path(js)%></h4>
              <h5 class="bold-text">Jam Description: </h5>
              <p> <%= js.description %> </p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    </ul>
  </div>
</div>
