<div class="container">
  <div class="row">
    <div class="col s6">
      <%= form_for @jamsession do |f| %>
        <h5 class="grey-text text-lighten-5">Title:</h5>
        <%= f.text_field :title %><br>

        <h5 class="grey-text text-lighten-5">Write your Jam Vision:</h5>
        </div>
        <%= f.text_area :description %><br>

        <div class="playing_jams deep-orange lighten-2 z-depth-1">
          <h5 class="grey-text text-lighten-5">Choose Your Event Date:</h5>
        </div>
        <%= f.date_field :datetime %><br>

        <div class="playing_jams deep-orange lighten-2 z-depth-1">
          <h5 class="grey-text text-lighten-5">Choose Your City:</h5>
        </div>
        <%= f.collection_radio_buttons :city_id, City.all, :id, :name %><br>

        <div class="playing_jams deep-orange lighten-2 z-depth-1">
          <h5 class="grey-text text-lighten-5">Choose Your Genre::</h5>
        </div>
        <%= f.collection_radio_buttons :genre_id, Genre.all, :id, :name %><br>

        <div class="playing_jams deep-orange lighten-2 z-depth-1">
          <h5 class="grey-text text-lighten-5">Pick Your Instrumentation:</h5>
        </div>
        <p>
        </p>

    <select multiple>

    <p>
      <input type="checkbox" id="test5" name="instrument[instrument_ids][]" value="1" />
      <label for="test5">Voice</label>
    </p>
    <p>
      <input type="checkbox" id="test6" name="instrument[instrument_ids][]" value="2" />
      <label for="test6">Violin</label>
    </p>
    <p>
      <input type="checkbox" id="test13" name="instrument[instrument_ids][]" value="3" />
      <label for="test13">Piano</label>
    </p><p>
      <input type="checkbox" id="test14" name="instrument[instrument_ids][]" value="4" />
      <label for="test14">Bass</label>
    </p><p>
      <input type="checkbox" id="test7" name="instrument[instrument_ids][]" value="5" />
      <label for="test7">Auxiliary Percussion</label>
    </p><p>
      <input type="checkbox" id="test8" name="instrument[instrument_ids][]" value="6" />
      <label for="test8">Drums</label>
    </p><p>
      <input type="checkbox" id="test9" name="instrument[instrument_ids][]" value="7" />
      <label for="test9">Guitar</label>
    </p><p>
      <input type="checkbox" id="test10" name="instrument[instrument_ids][]" value="8" />
      <label for="test10">Saxophone</label>
    </p><p>
      <input type="checkbox" id="test11" name="instrument[instrument_ids][]" value="9" />
      <label for="test11">Trumpet</label>
    </p><p>
      <input type="checkbox" id="test12" name="instrument[instrument_ids][]" value="10" />
      <label for="test12">Trombone</label>
    </p>
  </select>
</div>
</div>



<%= f.submit %>
<% end %>
