
  <li><%= @jamsession.title%></li>
  <li><%= @jamsession.description%></li>
  <li><%= @jamsession.datetime%></li>
  <li><%= @jamsession.city.name%></li>
  <li><%= @jamsession.genre.name%></li>
  <li><%= @jamsession.host.name%></li>
