<% if flash %>
  <% flash.each do |key, value| %>
    <%= value %>
  <% end %>
<% end %>


<div class="container-transbox bg-1">
<!-- Host NOTIFS -->
<div class="row">
  <h3><%=@jamsession.title%></h3>
</div>
<% if @user.id == @jamsession.host.id %>
  <div class="container">
    <div class="row">
      <h3>You are hosting this event.</h3>
    </div>
  </div>
<% end %>

<!-- JAM SESH DESCRIPTION -->

<div class="container">
  <div class="row">
    <div class="col-sm-4" >
      <h4>Date:</h4><%= @jamsession.date%></div>
    <div class="col-sm-4">
      <h4>City:</h4><%= @jamsession.city.name%></div>
    <div class="col-sm-4">
      <h4>Host:</h4><%= @jamsession.host.name%></div>
    </div>
    <div class="row" style="height: 25px"></div>
    <div class="row">
      <div class="col-sm-8">
      <h4>Description:</h4><%= @jamsession.description%></div>
      <div class="col-sm-4">
      <h4>Genre:</h4><%= @jamsession.genre.name%></div>
    </div>
    <div class="row" style="height: 25px"></div>

<!--added list of instruments, sign up button, and disabled links if instruments have been signed up for -->
      <h4>Instrumentation:</h4>
        <% if @jamsession.instruments == [] %>
          <p>There are no listed instruments for this event.</p>
        <% else %>
          <% if MusicianJam.where(musician_id: session[:user_id], jam_session_id: @jamsession.id) != [] %>
            <p>You are already signed up to play for this event!</p>
            <ul>
                <% @jamsession.instruments.each do |i| %>
                <li><%= i.name %></li>
                <% end %>
              </ul>
          <% else %>
          <% @jamsession.instruments.each do |i| %>
            <h6 disabled class="left-align"><%= i.name %> <span/> </span><%= link_to "Sign Up", "/jam_sessions/#{@jamsession.id}/#{i.name}", method: 'patch' %></h6>
            <% end %>
          <% end %>
        <% end %>
<!--end of instrument list -->
      <div class="row" style="height: 25px"></div>
      <h5 class="teal-text">Musicians Playing at this event:</h5>
        <% if @jamsession.musicians == [] %>
          <p>There are currently no musicians signed up to play for this event.</p>
        <% else %>
          <ul>
          <% @jamsession.musicians.each do |musician| %>
            <li><%= musician.name %></li>
            <% end %>
          </ul>
        <% end %>
    </div>
  

<!-- EDIT JAM IF HOST -->

    <% if @user.id == @jamsession.host.id %>
      <div class="row">
        <h5 class="text-right"><%= link_to "Edit Jam Session", jam_session_path + "/edit" %></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>
