<% if flash %>
  <% flash.each do |key, value| %>
    <%= value %>
  <% end %>
<% end %>

<div class="profile deep-orange lighten-2 z-depth-1">
  <h1 class="grey-text text-lighten-5 center"><%= @jamsession.title%></h1>
</div>

<!-- SPACER -->
<div class="container">
  <div class="row">
  <div class="col s12">
    <h5 class="text"></h5>
  </div>
  </div>
</div>

<!-- Host NOTIFS -->
<% if @user.id == @jamsession.host.id %>
  <div class="container">
    <div class="divider"></div>
      <div class="section">
        <h5 class="grey-text">You are hosting this event.</h5>
      </div>
    </div>
    <div class="container">
    <div class="divider"></div>
  </div>
<% end %>

<!-- JAM SESH DESCRIPTION -->

<div class="container">
  <div class="row">
    <div class="col s4" >
      <h5 class="teal-text">Date:</h5><%= @jamsession.date%></div>
    <div class="col s4">
      <h5 class="teal-text">City:</h5><%= @jamsession.city.name%></div>
    <div class="col s4">
      <h5 class="teal-text">Host:</h5><%= @jamsession.host.name%></div>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5 class="teal-text">Description:</h5><%= @jamsession.description%>
      <h5 class="teal-text">Genre:</h4><%= @jamsession.genre.name%></h5>

<!--added list of instruments, sign up button, and disabled links if instruments have been signed up for -->
      <h5 class="teal-text">Instrumentation:</h5>
        <% if @jamsession.instruments == [] %>
          <p>There are no listed instruments for this event.</p>
        <% else %>
          <% if MusicianJam.where(musician_id: session[:user_id], jam_session_id: @jamsession.id) != [] %>
            <p>You are already signed up to play for this event!</p>
            <ul>
                <% @jamsession.instruments.each do |i| %>
                <li><%= i.name %></li>
                <% end %>
              </ul>
          <% else %>
          `<% @jamsession.instruments.each do |i| %>
            <h6 disabled class="left-align"><%= i.name %> <span/> </span><%= link_to "Sign Up", "/jam_sessions/#{@jamsession.id}/#{i.name}", method: 'patch' %></h6>
            <% end %>
          <% end %>
        <% end %>
<!--end of instrument list -->

      <h5 class="teal-text">Musicians Playing at this event:</h5>
        <% if @jamsession.musicians == [] %>
          <p>There are currently no musicians signed up to play for this event.</p>
        <% else %>
          <ul>
          <% @jamsession.musicians.each do |musician| %>
            <li><%= musician.name %></li>
            <% end %>
          </ul>
        <% end %>
    </div>
  </div>

<!-- EDIT JAM IF HOST -->

<% if @user.id == @jamsession.host.id %>
<div class="container" >
  <div class="divider"></div>
    <div class="section">
      <h5 class="right-align"><%= link_to "Edit Jam Session", jam_session_path + "/edit" %></h5>
    </div>
  </div>
<% end %>
