<div class="container-intro-2">
  <div class="row-intro">
    <h1 class="row-intro">Welcome, <%=@user.name%>.</h1>
  </div>
</div>

  <!-- USERS JAM SESSIONS TO PLAY -->
<div class="container-transbox bg-1 text-left"> 
  <div class="row">
    <div class="col-sm-8">
      <h4>Upcoming Jam Sessions You're Playing In:</h4>
        <% if @user.is_playing_jam_session != [] %>
          <ul>
            <% @user.is_playing_jam_session.each do |js| %>
              <ul>
                <div class="row">
                  <div class="col-sm-6 card-border">
                    <div class="card card-padding">
                      <div class="card-block">
                        <h3 class="card-title"><%=link_to js.title, jam_session_path(js) %></h3>
                        <div class ="card-body">
                        <li>Date: <%= js.date %> </li>
                        <li>Description: <%= js.description %> </li>
                        <li>City: <%= js.city.name %> </li>
                        <li>Host Name: <%= js.host.name %> </li>
                        <li>Genre: <%= js.genre.name %> </li>
                        <%= link_to "Delete Jam", "/jam_sessions/#{js.id}", method: 'patch' %></div>
                      </div>
                    </div>
                  </div>
                </div>
              </ul>
            <% end %>
          </ul>
        <% else %>
          <div class="container">
            <div class="row">
              <%= "You are not playing in any upcoming jams." %><br />
            </div></div>
        <% end %>
      <div class="container">
        <div class="row">
          <%= link_to 'Join Jam Session!', jam_sessions_path %>
        </div>
      </div>

<!-- USERS JAM SESSIONS TO HOST -->
    <h4>Upcoming Jam Sessions You're Hosting:</h4>
      <% if @user.is_hosting_jam_session != [] %>
      <ul>
        <% @user.is_hosting_jam_session.each do |js| %>
          <ul>
            <div class="row">
              <div class="col-sm-6 card-border">
                <div class="card card-padding">
                  <div class="card-block">
                    <h3 class="card-title"><%= link_to js.title, jam_session_path(js) %></h3>
                    <p class="card-text">
                    <li>Date: <%= js.date %> </li>
                    <li>Description: <%= js.description %> </li>
                    <li>City: <%= js.city.name %> </li>
                    <li>Genre: <%= js.genre.name %> </li>
                    <li>Musicians Playing: </li>
                    <% if js.musicians == [] %>
                    <i>There are no musicians currently signed up to play.</i>
                    <% else %>
                      <% js.musicians.each do |m| %>
                      <%= link_to m.name, user_path(m.id) %></p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </ul>
        <% end %>
      </ul>
      <% else %>
        <div class="container">
          <div class="row">
            <%= "You are not hosting any upcoming jams." %><br />
          </div>
        </div>
      <% end %>
      <div class="container">
        <div class="row">
          <%= link_to 'Create a Jam Session!', new_jam_session_path %>
        </div>
      </div>
    </div>

    <!-- INSTRUMENTS USER PLAYS -->

  <div class="col-sm-4">
    <% if @user.instruments != [] %>
    <ul>
      <h4>Instruments You Play:</h4>
        <% @user.instruments.each do |i| %>
          <h5><%= i.name %></h5><h6><%= link_to "Delete", "/users/#{i.name}/#{i.id}", method: 'patch' %></h6>
        <% end %>
      <% end %>
      <h4>Add Instruments To Your Profile:</h4>
      <% @instruments.each do |i| %>
        <h5><%= i.name %></h5><h6><%= link_to "Add", "/users/#{i.name}", method: 'patch' %></h6>
      <% end %>
    </ul>
  </div>
</div>
</div>

