<div class="container-intro-2">
  <div class="row-intro">
    <h1 class="row-intro">Welcome, <%=@user.name%>.</h1>
    </div>
  </div>

<div class="container-fluid bg-1 text-left"> 
  <h3 class="margin">Upcoming Jam Sessions You're Playing In:</h3>
    <% if @user.is_playing_jam_session != [] %>
              <ul>
                <% @user.is_playing_jam_session.each do |js| %>
                  <ul>
                    <div class="row">
                      <div class="col s8 m6">
                        <div class="card blue-grey darken-1">
                          <div class="card-content white-text">
                            <span class="card-title"><%=link_to js.title, jam_session_path(js) %></span>
                            <li>Date: <%= js.date %> </li>
                            <li>Description: <%= js.description %> </li>
                            <li>City: <%= js.city.name %> </li>
                            <li>Host Name: <%= js.host.name %> </li>
                            <li>Genre: <%= js.genre.name %> </li>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ul>
                    <%= link_to "Delete Jam", "/jam_sessions/#{js.id}", method: 'patch' %>
                <% end %>
              </ul>
            <% else %>
              <%= "You are not playing in any upcoming jams." %><br />
            <% end %>
          <%= link_to 'Join Jam Session!', jam_sessions_path %>
        </div>
    </div>



<!-- USERS JAM SESSIONS TO PLAY -->
<div class="row">
  <div class="col s8">
    <div class="divider"></div>
      <div class="section">
        <div class="container playing_jams">
          <h3 class="black-text text-lighten-5">Upcoming Jam Sessions You're Playing In:</h3>
            <% if @user.is_playing_jam_session != [] %>
              <ul>
                <% @user.is_playing_jam_session.each do |js| %>
                  <ul>
                    <div class="row">
                      <div class="col s8 m6">
                        <div class="card blue-grey darken-1">
                          <div class="card-content white-text">
                            <span class="card-title"><%=link_to js.title, jam_session_path(js) %></span>
                            <li>Date: <%= js.date %> </li>
                            <li>Description: <%= js.description %> </li>
                            <li>City: <%= js.city.name %> </li>
                            <li>Host Name: <%= js.host.name %> </li>
                            <li>Genre: <%= js.genre.name %> </li>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ul>
                    <%= link_to "Delete Jam", "/jam_sessions/#{js.id}", method: 'patch' %>
                <% end %>
              </ul>
            <% else %>
              <%= "You are not playing in any upcoming jams." %><br />
            <% end %>
          <%= link_to 'Join Jam Session!', jam_sessions_path %>
        </div>
      </div>

<!-- USERS JAM SESSIONS TO HOST -->
    <div class="divider"></div>
      <div class="section">
        <div class="container playing_jams">
          <h3 class="black-text text-lighten-5">Upcoming Jam Sessions You're Hosting:</h3>
            <% if @user.is_hosting_jam_session != [] %>
            <ul>
              <% @user.is_hosting_jam_session.each do |js| %>
                <ul>
                  <div class="row">
                    <div class="col s8 m6">
                      <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                          <span class="card-title"><%= link_to js.title, jam_session_path(js) %></span>
                          <li>Date: <%= js.date %> </li>
                          <li>Description: <%= js.description %> </li>
                          <li>City: <%= js.city.name %> </li>
                          <li>Genre: <%= js.genre.name %> </li>
                          <li>Musicians Playing: </li>
                          <% js.musicians.each do |m| %>
                          <%= link_to m.name, user_path(m.id) %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </ul>
              <% end %>
            </ul>
            <% else %>
            <%= "You are not hosting any upcoming jams." %><br />
            <% end %>
          <%= link_to 'Create a Jam Session!', new_jam_session_path %>
        </div>
      </div>
    </div>

    <!-- INSTRUMENTS USER PLAYS -->

  <div class="col s4">
    <div class="divider"></div>
      <div class="section">
        <div class="container instruments">
          <ul class="collection with-header">
            <% if @user.instruments != [] %>
              <li class="collection-header"><h5>Instruments You Play:</h5></li>
                <% @user.instruments.each do |i| %>
                  <li class="collection-item"><%= i.name %></li><%= link_to "Delete", "/users/#{i.name}/#{i.id}", method: 'patch' %>
                <% end %>
                <li class="center"><h6>Add more to your profile bellow:</h6></li>
              <% end %>

              <li class="collection-header"><h5>Add Instruments:</h5></li>
              <% @instruments.each do |i| %>
                <div class="section">
                  <h6 disabled class="center"><%= i.name %> <span/> </span><%= link_to "Add", "/users/#{i.name}", method: 'patch' %></h6>
                </div>
              <% end %>
            </ul>
        </div>
      </div>
  </div>


</div>
