<div class="profile deep-orange lighten-2 z-depth-1">
  <h1 class="grey-text text-lighten-5"><%= @user.name%></h1>
    <h5 class="grey lighten-4 grey-text text-darken-1"></h5>
</div>

<div class="row">
  <div class="col s8">
    <div class="divider"></div>
      <div class="section">
        <div class="container playing_jams">
          <h3 class="black-text text-lighten-5">Upcoming Jam Sessions You're Playing In:</h3>
            <% if @user.is_playing_jam_session != [] %>
              <ul>
                <% @user.is_playing_jam_session.each do |js| %>
                  <ul>
                    <li><%= js.title %> </li>
                    <li><%= js.date %> </li>
                    <li><%= js.description %> </li>
                    <li><%= js.city.name %> </li>
                    <li><%= js.host.name %> </li>
                    <li><%= js.genre.name %> </li>
                  </ul>
                    <%= link_to "Delete Jam", delete_jams_path(js.id) %>
                <% end %>
              </ul>
            <% else %>
              <%= "You are not playing in any upcoming jams." %><br />
            <% end %>
          <%= link_to 'Join Jam Session!', jam_sessions_path %>
        </div>
      </div>

    <div class="divider"></div>
      <div class="section">
        <div class="container playing_jams">
          <h3 class="black-text text-lighten-5">Upcoming Jam Sessions You're Hosting:</h3>
            <% if @user.is_hosting_jam_session != [] %>
            <ul>
              <% @user.is_hosting_jam_session.each do |js| %>
                <ul>
                  <li><h5><%= link_to js.title, jam_session_path(js) %></h5></li>
                  <li><%= js.date %> </li>
                  <li><%= js.description %> </li>
                  <li><%= js.city.name %> </li>
                  <li><%= js.genre.name %> </li>
                  <% js.musicians.each do |m| %>
                  <li> <%= link_to m.name, user_path(m.id) %> </li>
                <% end %>
                  <%= link_to "Delete Jam", "/jam_sessions/#{js.title}/#{js.id}", method: 'patch' %>
              </ul>
              <% end %>
            </ul>
            <% else %>
            <%= "You are not hosting any upcoming jams." %><br />
            <% end %>
          <%= link_to 'Create a Jam Session!', new_jam_session_path %>
        </div>
      </div>
    </div>

  <div class="col s4">
    <div class="divider"></div>
      <div class="section">
        <div class="container instruments">
          <ul class="collection with-header">
            <% if @user.instruments != [] %>
              <li class="collection-header"><h5>Instruments You Play:</h5></li>
                <% @user.instruments.each do |i| %>
                  <li class="collection-item"><%= i.name %></li><%= link_to "Delete", "/jam_sessions/#{i.name}/#{i.id}", method: 'patch' %>
                <% end %>
                <li class="center"><h6>Add more to your profile bellow:</h6></li>
              <% end %>

              <li class="collection-header"><h5>Add Instruments:</h5></li>
              <% @instruments.each do |i| %>
                <div class="section">
                  <h6 disabled class="center"><%= i.name %> <span/> </span><%= link_to "Add", "/jam_sessions/#{i.name}", method: 'patch' %></h6>
                </div>
              <% end %>
            </ul>
        </div>
      </div>
  </div>


</div>
