<!DOCTYPE html>
<html>
  <head>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    </style>
    <title>Smahler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Jam Sessions</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to 'Home', jam_sessions_path %>
          </li>
          <li>
            <% if logged_in? %>
              <%= link_to 'Profile', user_path(session[:user_id]) %>
            <% else %>
              <%= link_to 'Profile', homepage_path %>
            <% end%>
            <% flash.each do |key, value| %>
              <em><%= value %></em>
              <% end%>
          </li>
          <li>
            <% if logged_in? %>
              <%= link_to 'Sign Out', signout_path, method: :delete %>
            <% else %>
              <%= link_to 'Sign In', homepage_path %>
            <% end%>

            <% flash.each do |key, value| %>
              <em><%= value %></em>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
    <%= yield %>
    </div>
    <footer class="page-footer center-on-small-only">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h5 class="text-center">// Jam Sessions //</h5>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
